$title
ADC(2) - opt by CAM-B3LYP gaussian
$operating system unix
$symmetry c1
$redundant    file=coord
$coord    file=coord
$user-defined bonds    file=coord
$atoms
c  1-6,16                                                                      \
   basis =c def2-TZVPD                                                         \
   cbas  =c def2-TZVPD
h  7-9,14-15                                                                   \
   basis =h def2-TZVPD                                                         \
   cbas  =h def2-TZVPD
n  10,13                                                                       \
   basis =n def2-TZVPD                                                         \
   cbas  =n def2-TZVPD
o  11-12                                                                       \
   basis =o def2-TZVPD                                                         \
   cbas  =o def2-TZVPD
cl 17-19                                                                       \
   basis =cl def2-TZVPD                                                        \
   cbas  =cl def2-TZVPD
$basis    file=basis
$rundimensions
   dim(fock,dens)=232989
   natoms=19
   nshell=218
   nbf(CAO)=680
   nbf(AO)=596
   dim(trafo[SAO<-->AO/CAO])=848
   rhfshells=1
   nt1amt=34048
$scfmo   file=mos
$closed shells
 a       1-64                                   ( 2 )
$scfiterlimit       30
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   on
   redundant  on
   cartesian  off
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$maxcor      500
$denconv     0.10000000E-07
$ricc2
  adc(2)
  maxiter=  500
$cbas    file=auxbasis
$excitations
  irrep=a  multiplicity=  1  nexc= 15  npre=  0  nstart=  0
  spectrum states=all operators=diplen,dipvel,angmom
$spectrum ev
$scfinstab rpas
$soes
 a           15
$last step     ricc2
$orbital_max_rnorm 0.59945797931186E-05
$last SCF energy change = -1905.2021
$charge from dscf
         -0.000 (not to be modified here)
$dipole from dscf
  x    -1.57129056587712    y     1.95898022301515    z    -0.11852296068695    a.u.
   | dipole | =    6.3902058005  debye
$excitation_energies_CCS_____1^a___ file=exstates
$excitation_energies_ADC(2)__1^a___ file=exstates
$t2_norm_of_re0_ADC(2)__1^a___ file=exstates
$<le0|re0>-overlap_ADC(2)__1^a___ file=exstates
$<le01|re01>-overlap_ADC(2)__1^a___ file=exstates
$<le02|re02>-overlap_ADC(2)__1^a___ file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____1 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____2 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____3 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____4 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____5 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____6 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____7 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____8 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____9 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a____10 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a____11 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a____12 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a____13 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a____14 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a____15 file=exstates
$end
